.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 120px ;
}
.list ul{
    list-style: none;
    display: flex;

}

.list ul li a {
    text-decoration: none;
    color: black;

}
.list ul li {
    margin-right: 16px;
}
.navbar button{
    color: white;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
}
