
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 120px ;
}
.list ul{
    list-style: none;
    display: flex;
    gap: 90px;

}

.list ul li a {
    text-decoration: none;
    color: black;

}
.list ul li {
    margin-left: -80px;
    margin-top: 30px;
}
.navbar button{
    color: white;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    margin-left: -250px;
    
}

.hero{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;
}
.hero-div {
    padding: 57px 120px ;
    text-align: center;
}
.hero-div button{
    background-color: white;
    color: #30B868;
    border-radius: 20px;
    border: none;
}
.hero-div h1{
    color: white;
    margin-bottom: 16px ;

}
.hero-div h1 span{
    color: #30B868;
}
.hero-div p{
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.hero-div .btn .btn-primary{
    background-color: #469165;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px;

}
.hero-div .btn .btn-secondary{
    background-color: transparent;
    border: 2px solid #30B868;
    color: #30B868;
    border-radius: 5px;
    padding: 16px;
}

.knowledge-section{
    text-align: center;
    gap: 44px;
}

.knowledge-section h1{
    font-size: 48px;
    font-style: bold;
}
.structure{
    margin: 48px 0 ;

}
.card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-box{
    height: 300px;
    width: 322px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0 ,0.1);
}
.card-box img{
    background-color: #F95555;
    margin: 69.5px 131px 16px 131px;
    border-radius: 50%;
}

.container {
    width: 1360px;
    height: 600;
   display: flex;
   justify-content: space-between;
   gap: 60px;
  
}

.container img {
    padding: 120px;
    
}
.solution{
     margin: 150px 0 ;
     text-align: start;

}


.solution div .prl {
    list-style: none;
    text-align: start;
}
.hero-info{
    margin: 120px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 60px;
}
.hero-info button{
    background-color: #469165;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px;
}
.hero-info p{
    color: #627382;
}
footer{
    width: 1600px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 160px 120px;
    background-color: #001931;
    gap: 900px;
}

footer p {
    color: #F7F6F2;
}
.icon img {
    background-color: white;
    color: #ffffff;

}
.pra1 {
    text-align: center;
    margin-top: -50px;
    color: #F7F6F2;
}

