* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.navbar {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.list ul li a {
    text-decoration: none;
    color: black;

}


.navbar button {
    color: white;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    margin-left: -250px;

}

.navbar button:hover {
    background-color: white;
    color: #30B868;
    outline: 2px solid #469165;
    cursor: pointer;
}

.hero {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;
}

.hero-div {
    padding: 57px 120px;
    text-align: center;
}

.hero-div button {
    background-color: white;
    color: #30B868;
    border-radius: 20px;
    border: none;
    padding: 8px 12px;
    margin-bottom: 12px;
}

.hero-div h1 {
    color: white;
    margin-bottom: 16px;
    font-size: 60px;

}

.hero-div h1 span {
    color: #30B868;
}

.hero-div p {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.hero-div .btn .btn-primary {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px;
    margin-top: 16px;
}

.hero-div .btn .btn-primary:hover,
.hero-div .btn .btn-secondary:hover,
.hero-btn:hover {
    background-color: white;
    color: #30B868;
    outline: 2px solid #469165;
    cursor: pointer;
}

.hero-div .btn .btn-secondary {
    background-color: transparent;
    border: 2px solid #30B868;
    color: #30B868;
    border-radius: 5px;
    padding: 16px;
}

.knowledge-section {
    text-align: center;
    gap: 44px;
}

.knowledge-section h1 {
    font-size: 48px;
    font-style: bold;
}

.structure {
    margin: 48px 0;

}



.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 1360px;
    margin-left: 120px;
    margin-right: 120px;
}

.card-box {
    height: 300px;
    width: 322px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    border-radius: 8px;
}

.card-box img {
    background-color: #F95555;
    margin: 69.5px 131px 16px 131px;
    border-radius: 50%;
    padding: 10px;
}

.container {
    width: 1360px;
    height: 600;
    display: flex;
    justify-content: space-between;
    gap: 60px;

}

.container img {
    padding: 120px;

}

.solution-part {
    display: flex;
    align-items: center;
}

.solution {
    text-align: start;

}


.solution .prl p {
    margin-top: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

}

.solution .prl p img {
    padding: 0;
}

.hero-info {
    margin: 120px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 60px;
}

.hero-info div h1 {
    margin-bottom: 16px;
}

.hero-info div p {
    margin-bottom: 16px;
}

.hero-info button {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px;
    margin-bottom: 16px;
}

.hero-info p {
    color: #627382;
}

footer {
    width: 100%;
    height: 380px;
    background-color: #001931;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 84px;
}

.hr {
    margin-left: 120px;
    margin-right: 120px;
    opacity: 20%;
}

footer p {
    color: #F7F6F2;
}

.icon img {
    background-color: white;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 6px;
}

.pra1 {
    text-align: center;
    margin-top: -50px;
    color: #F7F6F2;
}

hr {
    color: white;
}